/Programação I/GUI/Calculadora/JavaApplication1/nbproject/private/
/Programação I/GUI/Calculadora/JavaApplication1/build/
/Programação I/GUI/Calculadora/nbproject/private/
/Programação I/GUI/Calculadora/build/
/Programação I/GUI/Calculadora/dist/
